doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property='og:url' content='http://local.io')
    meta(property="og:site_name" content="Qual a sua missão?")
    meta(property='og:title' content='#{site.title}')
    meta(property='og:description' content='#{site.description}')
    meta(property='og:image' content='#{site.image}')
  body
    block content
  script(src='/javascripts/facebook-share.js')
